<!-- {% set random_forest_params = {
    'n_estimators': 100,
    'max_depth': 10,
    'min_samples_split':2,
    'min_samples_leaf': 1,
    'max_features': ['auto', 'sqrt', 'log2'],
    'bootstrap': [True, False],
    'criterion': ['gini', 'entropy'],
    'random_state': 42
} %} -->
{{selected_algorithm}}
{% for param_name, param_values in algorithm_params.items() %}
{% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
<div class="col-md-6">
    <div class="form-group">
        <label for="{{ param_name }}" class="small">{{ param_name|replace('_', ' ')|title }}</label>
        {% if param_values is number %}
            <input type="number" class="form-control form-control-sm" id="{{ param_name }}" name="{{ param_name }}" value="{{ param_values }}">
        {% else %}
            <select class="form-control form-control-sm" id="{{ param_name }}" name="{{ param_name }}">
                {% for value in param_values %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
</div>
{% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
{% endfor %}