  
  <div class="container-fluid">
        <div class="form-group mb-3">
            <label for="scale-select" class="form-label">Select Scaling Method:</label>
            <select id="scale-select" class="form-control">
                <option value="minmax">MinMax Scaler</option>
                <option value="standard">Standard Scaler</option>
                <option value="robust">Robust Scaler</option>
                <option value="normalizer">Normalizer</option>
            </select>
        </div>
      {% extends "charts.html" %}
    
  </div>
