    
    
    
    
    <div class="container-fluid p-1">
        <div class="row">
            <h4>Columns</h4>

        </div>
        <div class="row">
            <!-- Left column with targets -->
            <div class="col-md-4" style="overflow-y: auto; height: calc(100vh - 120px);">
                {% for target in targets %}
                <div class="card " style="border-radius: 0;">
                    <div class="card-body py-1">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="card-title text-dark mb-0" style="cursor: pointer; font-size: 12px;" hx-get="/column/{{target}}" hx-target="#right-column" hx-trigger="click"  >{{ target }}</h6>
                            </div>
                            <div class="col-auto">
                              <div class="form-check form-switch">
                                  <input class="form-check-input" type="checkbox" role="switch" id="switch-{{target}}" checked>
                                  <label class="form-check-label" for="switch-{{target}}"></label>
                              </div>


                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Right column -->
            <div class="col-md-8" id="right-column" style="height: calc(100vh - 56px); overflow-y: auto;">
                <!-- Content will be loaded here -->
            </div>
        </div>
    </div>




